.postsContainer {
  position: absolute;
  left: 50%;
  overflow-y: scroll;
}

.accueilContainer {
  width: 100%;
  z-index: -20;
  background-color: #22222213;
  position: absolute;
  left: 17%;
  top: 11%;
}

.accueilContainer h1 {
  font-size: 40px;
  padding: 20px;
  padding-left: 30px;
}

.allMessages {
    margin: 20px;
    overflow-x: scroll;
    height: 100vh;
}

.singleMessage {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: solid black;
}

.singleMessage h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.singleMessage p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.singleMessage button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.singleMessage button:hover {
  background-color: #0056b3;
}

.singleMessage p.likes {
  color: #888;
  font-size: 14px;
}