.OnlinefriendsContainer {
    height: 100vh;
    width: 220px;
    position: fixed;
    right: 0;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  
  }
  
  .OnlinefriendsContainer img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    left: 10px;
  }
  
  .OnlinefriendsContainer span {
    margin-right: 10px;
  }
  
  .friendsContainer {
    margin-top: 120px;
  }
  
  .friendsContainer h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .friends {
    display: flex;
    margin: 20px;
  }
  
  .friends:hover {
    padding: 20px;
    background-color: #3333339f;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 2px dashed #00ff00;
    border-radius: 10px;
  }