.header {
    position: fixed;
    height: 100px;
    width: 1290px;
    background: #fff;
    left: 230px;
    border-bottom: 2px solid black;
    animation: none;
    z-index: 99;
    
  }



.header img {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    
  }
  
  .profilHeaderContainer {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 1%;
      margin-top: 15px;
  }

  .profilHeaderContainer p {
    margin: 20px;
  }